
 
   <div class="p-6 space-y-6 bg-gray-100 min-h-screen business">
    <section class="video-section">
        <h2 class="flex items-center gap-2"><i class="fas fa-video"></i><span>{{ 'introductionVideo' | translate }}</span></h2>
        <div class="vedio">
          <video controls src="https://businesstools-admin.valuenationapp.com{{videoUrl}}" ></video>
    
      </div>
        <p class="video-description">{{videoDescription}}</p>
      </section>
  
      <div class="bg-white p-4 rounded-lg shadow space-y-4">
        <div>
          <label class="block">{{ 'chosenBusinessIdeaQuestion' | translate }}</label>
          <textarea [(ngModel)]="your_idea" class="w-full p-2 border rounded" placeholder="{{ 'businessIdeaPlaceholder' | translate }}"></textarea>
          
        </div>
        <h2 class="text-xl font-semibold">{{ 'desirabilityTitle' | translate }}</h2>
        
        <label class="block">{{ 'solvingRealProblemQuestion' | translate }}</label>
        <div class="flex items-center gap-4">
          <label class="flex items-center">
              <input type="radio" name="problem" [(ngModel)]="desirability.solves_problem" value="No"> {{ 'solvingRealProblemOptionNo' | translate }}
          </label>
          <label class="flex items-center">
              <input type="radio" name="problem" [(ngModel)]="desirability.solves_problem" value="Yes"> {{ 'solvingRealProblemOptionYes' | translate }}
          </label>
        </div>
        
        <label class="block">{{ 'problemSolvingQuestion' | translate }}</label>
        <textarea [(ngModel)]="desirability.problem_statement" class="w-full p-2 border rounded" placeholder="{{ 'problemStatementPlaceholder' | translate }}"></textarea>
        
        <label class="block">{{ 'currentSolutionsQuestion' | translate }}</label>
        <div class="flex items-center gap-4">
          <label class="flex items-center">
              <input type="radio" name="current_solutions" [(ngModel)]="desirability.existing_solutions_used" value="No"> {{ 'currentSolutionsOptionNo' | translate }}
          </label>
          <label class="flex items-center">
              <input type="radio" name="current_solutions" [(ngModel)]="desirability.existing_solutions_used" value="Yes"> {{ 'currentSolutionsOptionYes' | translate }}
          </label>
        </div>
        
        <label class="block">{{ 'currentSolutionNowQuestion' | translate }}</label>
        <textarea [(ngModel)]="desirability.current_solutions_details" class="w-full p-2 border rounded" placeholder="{{ 'currentSolutionsDetailsPlaceholder' | translate }}"></textarea>
        
        <label class="block">{{ 'switchReasonQuestion' | translate }}</label>
        <textarea [(ngModel)]="desirability.switch_reason" class="w-full p-2 custom-textarea" placeholder="{{ 'switchReasonPlaceholder' | translate }}"></textarea>
        
        <label class="block">{{ 'notes' | translate }}</label>
        <textarea [(ngModel)]="desirability.notes" class="w-full p-2 border rounded" placeholder="{{ 'personalNotesPlaceholder' | translate }}"></textarea>
      </div>
      
      <div class="bg-white p-4 rounded-lg shadow space-y-4">
        <h2 class="text-xl font-semibold">{{ 'feasibilityTitle' | translate }}</h2>
        
        <label class="block">{{ 'requiredSkillsQuestion' | translate }}</label>
        <textarea [(ngModel)]="feasibility.required_skills" class="w-full p-2 border rounded" placeholder="{{ 'requiredSkillsPlaceholder' | translate }}"></textarea>
        
        <label class="block">{{ 'qualificationsQuestion' | translate }}</label>
        <textarea [(ngModel)]="feasibility.qualifications_permits" class="w-full p-2 border rounded" placeholder="{{ 'qualificationsPlaceholder' | translate }}"></textarea>
        
        <label class="block">{{ 'notes' | translate }}</label>
        <textarea [(ngModel)]="feasibility.notes" class="w-full p-2 border rounded" placeholder="{{ 'personalNotesPlaceholder' | translate }}"></textarea>
      </div>
      
      <div class="bg-white p-4 rounded-lg shadow space-y-4">
        <h2 class="text-xl font-semibold">{{ 'viabilityTitle' | translate }}</h2>
        
        <label class="block">{{ 'peoplePayQuestion' | translate }}</label>
        <textarea [(ngModel)]="viability.payment_possible" class="w-full p-2 border rounded" placeholder="{{ 'peoplePayPlaceholder' | translate }}"></textarea>
        
        <label class="block">{{ 'profitableQuestion' | translate }}</label>
        <textarea [(ngModel)]="viability.profitability" class="w-full p-2 border rounded" placeholder="{{ 'profitablePlaceholder' | translate }}"></textarea>
        
        <label class="block">{{ 'haveFinancesQuestion' | translate }}</label>
        <textarea [(ngModel)]="viability.finances_details" class="w-full p-2 border rounded" placeholder="{{ 'financesPlaceholder' | translate }}"></textarea>
        
        <label class="block">{{ 'notes' | translate }}</label>
        <textarea [(ngModel)]="viability.notes" class="w-full p-2 border rounded" placeholder="{{ 'personalNotesPlaceholder' | translate }}"></textarea>
      </div>
      
      
      
        



      <div class="save-section text-center mt-2">
        <button class="btn btn-primary save-progress inline-flex items-center gap-2" *ngIf="isSaved" (click)="save()">
          <i class="fas fa-save"></i>
          <span>{{ 'saveProgress' | translate }}</span>
        </button>
      </div>
      <div class="update-section flex justify-around">
        <button class="btn btn-primary save-progress inline-flex items-center gap-2" *ngIf="!isSaved" (click)="update()">
          <i class="fas fa-save"></i>
          <span>{{ 'updateProgress' | translate }}</span>
        </button>
        <button class="btn btn-primary save-progress" *ngIf="!isSaved" routerLink="/market-research">
          {{ 'next' | translate }}
        </button>
      </div>


<!-- <div class="mt-4 ">
  <button (click)="save()" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" *ngIf="isSaved">Save</button>
</div>
<div class="mt-4 update-section">
  <button (click)="update()" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" *ngIf="!isSaved">Update</button>
  <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" *ngIf="!isSaved" routerLink="/market-research">
    Next
  </button>
</div> -->

  </div>
  <button *ngIf="showButton" class="go-up-btn" (click)="scrollToTop()">
    ⬆
  </button>

   
   
  