<div class="suggestion-dialog">
    <h2>{{ 'aiSuggestion' | translate }}</h2>
    
    <div class="content">
      <div *ngIf="loading" class="loading">
        <mat-spinner diameter="40"></mat-spinner>
        <p>{{ 'generatingSuggestion' | translate }}</p>
      </div>
  
      <div *ngIf="error" class="error">
        <p>{{ error }}</p> 
      </div>
  
      <div *ngIf="!loading && !error" class="suggestion">
        <p [innerHTML]="suggestion "></p>
      </div>
    </div>
  
    <div class="actions">
      <button mat-button (click)="generateSuggestion()">
        {{ 'anotherSuggestion' | translate }}
      </button>
      <button mat-raised-button color="primary" (click)="useThisIdea()">
        {{ 'useThisSuggestion' | translate }}
      </button>
    </div>
  </div> 